<!DOCTYPE html>
<html>
<head>
	<title><%= page.title %></title>
	<link rel="stylesheet" href="/css/<%= @site.theme %>.css">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body class="columns-<%= page.columns %>">
<div id="viewport">
	<%= yield %>
</div>
<%# TODO: Replace with someting like <cms:ui /> %>
<%= erb :cms, locals: {page: page} %>
</body>
</html>
